#heaading{
    display: inline-block;
}
header p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-weight: bolder;
    text-decoration: dotted double black;
    margin-left: 750px;
    font-size: xx-large;

} 
#nav{
    background-color:white;
    height: 130px;
    width: 1130px;
    text-align: center;
    margin-top: 20px;
}
.ABC{
    text-decoration: none;
    color: black;
    margin-left: 5px;
    margin-right: 10px;
    font-weight: bold;


}
#exc{
    background-color: rgb(33, 61, 119);
    color: white;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10%;
    width: 200px;
    margin-left:45px;
    box-shadow: 2px 2px 8px black;
    font-family:'Times New Roman', Times, serif;
}
#page #IR{
    font-size:50px;
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
}
#page #Quality{
    color: white;
    margin-top: 2px;

}

#Grid{
    display: grid;
    grid-template-columns: auto auto;
    height: 500px;
    width: 1500px;
    
}

#Header{
    display: flex;
}




button{
    padding: 0px 30px 0px 30px ;
    background-color: rgb(183, 159, 186);
    border-radius: 25%;
    margin-left:105px;
}
table{
    margin-top: 20px;
    font-weight: bold;
    color: black;
    height: 125x;
    width: 200px;
    
}

#page{
    background: scroll;
    background-color:white;
    background-image: url("./vande\ bharat.jpg");
    background-size: cover;
    height: 800px;
    width: 1500px;
    border-radius: 5%;
 

    
}



#logo{
    border-radius: 50%;
    text-align: left;
    margin-top: px;
    
}
button:hover{
    background-color: rgb(166, 224, 166);
}
#content{
    background-color: whitesmoke;
    height: 400px;
    width: 700px;
    margin-left: 20px;
    margin-top: 30px;
    opacity: 90%;
    
    

    
}

#details{
    padding-bottom: 50px;
    margin-top: 20px;
    background-color: whitesmoke;
    opacity: 70%;
    margin-left: 20px;

}
#page #Chart:hover{
    background-color: rgb(53, 186, 38);
    color: black;
    
}
#page #PNR:hover{
    background-color: rgb(53, 186, 38);
    color: black;

}
#content #PNR{
    width: 49.5%;
    margin-left: 0px;
    background-color: rgb(33, 61, 119);
    border-radius: 0%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 3px;

}
#content #Chart{
    width: 49.5%;
    margin-left: 0px;
    background-color: rgb(33, 61, 119);
    border-radius: 0%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 3px;
}
    
div p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: rgb(33,61,119);
    text-align: center;
} 
#content input{
    margin-left: 20px ;
    width: 300px ;
    margin-right: 20px ;
    margin-bottom: 20px ;
    height: 30px ;
    
}
#content select{
    margin-left: 20px ;
    width: 300px ;
    margin-right: 20px ;
    margin-bottom: 20px ;
    height: 30px ;

}
#content #one{
    margin-left: 20px ;
    width: 20px ;
    margin-right: 5px ;
    margin-bottom: 20px ;
    height: 20px ;


}
#content #two{
    margin-left: 20px ;
    width: 20px ;
    margin-right: 5px ;
    margin-bottom: 20px ;
    height: 20px ;

}
#content #three{
    margin-left: 20px ;
    width: 20px ;
    margin-right: 5px ;
    margin-bottom: 20px ;
    height: 20px ;
}
#content #four{
    margin-left: 20px ;
    width: 20px ;
    margin-right: 5px ;
    margin-bottom: 20px ;
    height: 20px ;
}
#content #search{
    background-color: rgb(219, 153, 29);
    color: white;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10%;
    width: 100px;
    box-shadow: 2px 2px 8px black;

    margin-left: 30px;


}
#content #Disha{
    background-color: rgb(53, 186, 38);
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10%;
    width: 200px;
    margin-left:300px;
    box-shadow: 2px 2px 8px black;

}
 #login {
    background-color: rgb(33, 61, 119);
    color: white;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10%;
    width: 100px;
    margin-left:45px;
    box-shadow: 2px 2px 8px black;
    font-family:'Times New Roman', Times, serif;
}


 #Register{
    background-color: rgb(86, 197, 166);
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10%;
    width: 100px;
    margin-left:5px;
    box-shadow: 2px 2px 8px black;
    font-family: 'Times New Roman', Times, serif;
    
}
#note{
    background-color: whitesmoke;
    height: 70px;
    margin-top: 5px;
    margin-left: 20px;
    width: 700px;
    opacity: 80%;
    
    
}
#note p{
    color: red;
    font-size: small;
    font-weight: 100;
    text-align: left;
}
#login a{
    color: white;
    text-decoration: none;
}
#Register a{
    color: white;
    text-decoration: none;
}
div{
    display: inline-block
}
#service{
    background-color: whitesmoke;
    height: 400px;
    width: 700px;
    margin-left: 20px;
    margin-top: 30px;
    opacity: 90%;
    
    
}